#homeBtn {
  margin-left: 0;
}
nav {
  background-color: transparent;
  height: 100px;
  &:hover {
    background: linear-gradient(
      0deg,
      white,
      #fff2ff,
      #fbbaf6,
      #fb87ef,
      #f000f0
    );
    & > div.navbar button{
      background-color: transparent;
      border: none;
    }
  }
}
button {
  display: block;
  color: #766464;
  font-size: 20px;
  font-weight: bold;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  color: #766464;
  font-size: 18px;
  font-weight: bold;
}
#raised-navbar {
  display: flex;
  position: absolute;
  width: 100%;
  top: 25px;
  padding-left: 60px;
  padding-right: 60px;
  margin-left: -50px;
  & button {
    color: #766464;
    background-color: white;
    &.active {
      background-color: transparent;
    }
    &.active-btn {
      color: purple;
      background: transparent;
      box-shadow: none;
      cursor: default;
      &:hover {
        background: transparent;
      }
    }
  }
}
