#homeBtn {
  margin-left: 0;
}
nav {
  background-color: transparent;
  height: 100px;
  &:hover {
    background: linear-gradient(
      0deg,
      white,
      #fff2ff,
      #fbbaf6,
      #fb87ef,
      #f000f0
    ); 
  }
}
button {
  display: block;
  color: #766464;
  font-size: 20px;
  font-weight: bold;
}
.navbar {
  display: flex;
  justify-content: space-evenly;
  color: #766464;
  font-size: 18px;
  font-weight: bold;
}
#raised-navbar {
  display: flex;
  padding: 25px 60px 0;
  & button {
    color: #766464;
    background-color: white;
    &.active-btn {
      color: purple;
      background: transparent;
      box-shadow: none;
      cursor: default;
    }
  }
}
