<div class="page-title">
  <h1>Contactez moi</h1>
  <div id="social-network">
    <img
      src="../../../assets/contact-linkedin.png"
      alt="LinkedIn"
      id="linkedin"
      (click)="openNewPage('https://www.linkedin.com/in/patrice-h-b64439257/')"
    />
    <img
      src="../../../assets/contact-github.png"
      alt="GitHub"
      id="github"
      (click)="openNewPage('https://github.com/Patrice-H')"
    />
  </div>
</div>
<div id="contact-form">
  <form [formGroup]="formContainer">
    <mat-form-field>
      <mat-label>Nom</mat-label>
      <input matInput
          placeholder="pat@example.com"
          [formControl]="formContainer.controls.lastName"
          id="lastname"
          (blur)="updateErrorMessage()"
          required
          />
      <!--@if (formContainer.controls.lastName.invalid) {
        <mat-error>{{errorMessage}}</mat-error>
    }-->
    </mat-form-field>
  </form>
</div>
