.page-title {
  position: absolute;
  width: 100vw;
  h1 {
    font-size: 36px;
    color: #575757;
    text-align: center;
  }
}
#social-network {
  text-align: center;
  img {
    width: 64px;
    margin: 0 15px;
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}
#contact-form {
  width: 700px;
  padding: 60px 100px;
  margin: auto;
  background-color: rgba(0, 0, 255, 0.1);
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
