.about-title {
  margin-left: 80px;
  color: purple;
  font-size: 32px;
  font-weight: bold;
  &::first-letter {
    text-transform: uppercase;
  }
}
.about-me-img.desktop {
  width: 66%;
  float: right;
  margin-left: 20px;
  margin-top: 6px;
}
.about-me-text {
  width: 80vw;
  margin: auto;
  line-height: 24px;
  text-align: justify;
  font-family: "Tinos";
}
