h1,
p {
  text-align: center;
}
h1 {
  font-size: 48px;
}
#home-container {
  display: block;
}
#slogan {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 36px;
  color: purple;
}
#hand-held-out {
  text-align: center;
  margin-top: 50px;
  animation: progressive-display 1.5s ease-in-out;
  img {
    width: 90vh;
  }
}
#projects-link {
  display: none;
  border: none;
  border-radius: 6px;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: bold;
  color: white;
  background-color: #ba00ba;
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 30%,
    rgba(0, 0, 0, 0)
  );
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

#projects-link:hover {
  background-color: purple;
  cursor: pointer;
}
#projects-link:active:enabled {
  color: yellow;
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 1440px) {
  h1 {
    font-size: 36px;
  }
}
@media screen and (max-width: 992px) {
  #home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
  }
  h1 {
    margin: 0 auto;
  }
  #slogan {
    flex-direction: column;
    margin-top: 3vh;
  }
  #non-breaking-space {
    display: none;
  }
  #hand-held-out {
    margin-top: 0;
    img {
      max-width: 80vw;
      max-height: 60vh;
    }
  }
  #projects-link {
    display: block;
    width: 300px;
    height: 150px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 768px) {
  #projects-link {
    width: 200px;
    height: 100px;
    margin: 0 auto;
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 24px;
  }
  #slogan {
    font-size: 24px;
  }
}
