<div id="skills-menu">
  @if (activeContent === 0) {
  <h1 class="active-skill">
    étude, conception et réalisation de votre projet web
  </h1>
  } @else {
  <h1>étude, conception et réalisation de votre projet web</h1>
  } @if (activeContent === 1) {
  <h2 class="active-skill">Développement Front-End</h2>
  } @else {
  <h2>Développement Front-End</h2>
  } @if (activeContent === 2) {
  <h2 class="active-skill">Développement Back-End</h2>
  } @else {
  <h2>Développement Back-End</h2>
  } @if (activeContent === 3) {
  <h2 class="active-skill">Administration technique et éditoriale</h2>
  } @else {
  <h2>Administration technique et éditoriale</h2>
  }
</div>
