p {
  margin-top: -17px;
  margin-left: 215px;
  width: max-content;
}
#contact-container {
  background-color: #fff2ff;
  padding: 30px;
  width: 400px;
  border-radius: 10px;
}
mat-card {
  margin: auto;
}
mat-form-field,
button {
  display: block;
}
button,
#contact-form {
  margin: auto;
}
#button {
  color: purple;
  font-size: 1.2em;
}
