<h1 class="about-title">à propos</h1>
<div class="about-me-text">
  <img
    src="../../../assets/about.jpg"
    alt="livre transformé en ordinateur portable"
    class="about-me-img desktop"
  />
  <p>
    Bonjour, je m'appelle Patrice. Après 29 ans dans le domaine de l'imprimerie
    et des arts graphiques, j'ai fait le choix de me reconvertir en tant que
    Développeur Web.
  </p>
  <p>
    Passionné de nouvelles technologies, de photographie et de modélisation 3D,
    j'ai tout d'abord entrepris une formation de webmestre en cours du soir au
    CNAM, qui m'a conduit à développer un intérêt pour la programmation web.
    J'ai donc décidé de poursuivre par une formation diplômante d'analyste
    programmeur web avec le même organisme de formation.
  </p>
  <p>
    Dernièrement, je me suis spécialisé dans le développement frontend avec
    Javascript et la technologie React, en suivant une formation à distance
    basée sur la pédagogie par projets d'OpenClassrooms. Cette formation m'a
    permis de travailler sur des cas concrets et d'obtenir le diplôme de niveau
    6 reconnu bac +3/4.
  </p>
  <p>
    Curieux par nature, je reste toujours en veille sur l'avancée des
    technologies de communication numérique et je suis engagé dans un processus
    d'amélioration constante de mes techniques avec pour seul objectif : la
    satisfaction d'accomplir au mieux les missions qui me sont confiées.
  </p>
</div>
