section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}
.skill-container {
  width: fit-content;
  margin: auto;
  img {
    display: block;
    width: 8vw;
    margin: auto;
  }
  h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
  }
}
#skill-tabs {
  width: fit-content;
  margin: 70px auto;
}
.skill-header {
  border: solid 1px #cccccc;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  padding: 5px;
  font-weight: bold;
  color: #ba00ba;
  display: inline;
  margin-right: 20px;
  cursor: pointer;
  &:hover {
    color: purple;
  }
}
.active-skills {
  background-color: #d9d9ff;
  color: purple;
  cursor: default;
}
#skill-body {
  border: solid 1px #cccccc;
  border-radius: 5px;
  width: 80vw;
  margin: -66px auto;
  padding: 20px;
  background-color: #d9d9ff;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
#frontend-skills::before {
  content: "Développement frontend";
}
#backend-skills::before {
  content: "Développement backend";
}
#conception-skills::before {
  content: "Analyse - Conception";
}
#design-skills::before {
  content: "UX - Design";
}
@media screen and (max-width: 992px) {
  section {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
  }
  .skill-header {
    margin-right: 0;
  }
  .skill-container {
    margin-top: 10px;
    img {
      width: 20vw;
    }
  }
  #frontend-skills::before {
    content: "Frontend";
  }
  #backend-skills::before {
    content: "Backend";
  }
}
@media screen and (max-width: 768px) {
  section {
    gap: 20px;
  }
  .skill-container {
    width: fit-content;
    h3 {
      margin: 10px auto 0;
      max-width: 20vw;
      width: 100%;
    }
  }
  #skill-body {
    width: auto;
    border: none;
  }
  #conception-skills::before {
    content: "Conception";
  }
  #design-skills::before {
    content: "UX Design";
  }
}
@media screen and (max-width: 480px) {
  section {
    height: 85vh;
  }
  #skill-body {
    height: 90vh;
  }
}
