#projects-tabs {
  width: fit-content;
  margin: 20px auto;
}
.projects-header {
  border: solid 1px #cccccc;
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  padding: 5px;
  font-weight: bold;
  color: #ba00ba;
  display: inline;
  margin-right: 20px;
  cursor: pointer;
  &:hover {
    color: purple;
  }
}
.active-projects {
  background-color: #d9d9ff;
  color: purple;
  cursor: default;
}
#projects-body {
  border: solid 1px #cccccc;
  border-radius: 5px;
  width: 80vw;
  margin: -16px auto;
  padding: 20px;
  background-color: #d9d9ff;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}
