@if (activeContent === 0) {
<div class="badges-box">
  <div class="badge">
    <img src="assets/trello.png" alt="Trello" />
    <p>Trello</p>
  </div>
  <div class="badge">
    <img src="assets/notion.png" alt="Notion" />
    <p>Notion</p>
  </div>
  <div class="badge">
    <img src="assets/jira.png" alt="Jira" />
    <p>Jira</p>
  </div>
  <div class="badge">
    <img src="assets/agile.png" alt="Agile" />
    <p>Agile</p>
  </div>
  <div class="badge">
    <img src="assets/uml.png" alt="Uml" />
    <p>UML</p>
  </div>
  <div class="badge">
    <img src="assets/photoshop.png" alt="Photoshop" />
    <p>Photoshop</p>
  </div>
  <div class="badge">
    <img src="assets/illustrator.png" alt="Illustrator" />
    <p>Illustrator</p>
  </div>
  <div class="badge">
    <img src="assets/figma.png" alt="Figma" />
    <p>Figma</p>
  </div>
  <div class="badge">
    <img src="assets/sketch.png" alt="Sketch" />
    <p>Sketch</p>
  </div>
  <div class="badge">
    <img src="assets/xd.png" alt="Xd" />
    <p>XD</p>
  </div>
  <div class="badge">
    <img src="assets/webdesigner.png" alt="Webdesigner" />
    <p>Webdesigner</p>
  </div>
</div>
} @if (activeContent === 1) {
<div class="badges-box">
  <div class="badge">
    <img src="assets/html5.png" alt="Html5" />
    <p>HTML5</p>
  </div>
  <div class="badge">
    <img src="assets/javascript.png" alt="Javasript" />
    <p>JavaScript</p>
  </div>
  <div class="badge">
    <img src="assets/css3.png" alt="Css3" />
    <p>CSS3</p>
  </div>
  <div class="badge">
    <img src="assets/react.png" alt="React" />
    <p>React</p>
  </div>
  <div class="badge">
    <img src="assets/angular.png" alt="Angular" />
    <p>Angular</p>
  </div>
  <div class="badge">
    <img src="assets/redux.png" alt="Redux" />
    <p>Redux</p>
  </div>
  <div class="badge">
    <img src="assets/typescript.png" alt="Typescript" />
    <p>TypeScript</p>
  </div>
  <div class="badge">
    <img src="assets/sass.png" alt="Sass" />
    <p>Sass</p>
  </div>
  <div class="badge">
    <img src="assets/jasmine.png" alt="Jasmine" />
    <p>Jasmine</p>
  </div>
  <div class="badge">
    <img src="assets/jest.png" alt="Jest" />
    <p>Jest</p>
  </div>
  <div class="badge">
    <img src="assets/testinglibrary.png" alt="Testing-Library" />
    <p class="long-legend">Testing Library</p>
  </div>
  <div class="badge">
    <img src="assets/responsive.png" alt="Responsive" />
    <p>Responsive</p>
  </div>
</div>
} @if (activeContent === 2) {
<div class="badges-box">
  <div class="badge">
    <img src="assets/php.png" alt="Php" />
    <p>PHP</p>
  </div>
  <div class="badge">
    <img src="assets/java.png" alt="Java" />
    <p>Java</p>
  </div>
  <div class="badge">
    <img src="assets/nodejs.png" alt="NodeJs" />
    <p>NodeJs</p>
  </div>
  <div class="badge">
    <img src="assets/maven.png" alt="Maven" />
    <p>Maven</p>
  </div>
  <div class="badge">
    <img src="assets/spring.png" alt="Spring" />
    <p>Spring</p>
  </div>
  <div class="badge">
    <img src="assets/phpunit.png" alt="PhpUnit" />
    <p>PHPUnit</p>
  </div>
  <div class="badge">
    <img src="assets/junit.png" alt="JUnit" />
    <p>JUnit</p>
  </div>
  <div class="badge">
    <img src="assets/mongodb.png" alt="MongoDB" />
    <p>MongoDB</p>
  </div>
  <div class="badge">
    <img src="assets/mysql.png" alt="MySQL" />
    <p>MySQL</p>
  </div>
  <div class="badge">
    <img src="assets/oracle.png" alt="Oracle" />
    <p>Oracle</p>
  </div>
  <div class="badge">
    <img src="assets/mariadb.png" alt="MariaDB" />
    <p>MariaDB</p>
  </div>
  <div class="badge">
    <img src="assets/swagger.png" alt="Swagger" />
    <p>Swagger</p>
  </div>
</div>
} @if (activeContent === 3) {
<div class="badges-box">
  <div class="badge">
    <img src="assets/wordpress.png" alt="Wordpress" />
    <p>WordPress</p>
  </div>
  <div class="badge">
    <img src="assets/prestashop.png" alt="Prestashop" />
    <p>Prestashop</p>
  </div>
</div>
}
